<!DOCTYPE HTML>
<!--
    Escape Velocity by HTML5 UP
    html5up.net |
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")
    @await Html.PartialAsync("ScriptsPartial")
</head>
<body>
    <div>

        @await Html.PartialAsync("HeaderPartial")
        @await Html.PartialAsync("IntroductionPartial")
        @RenderBody()
        <!-- Main -->

    </div>

    @await Html.PartialAsync("FooterPartial")
</body>
</html>