<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand" href="#">
            <img id="mylogo" src="~/images/code.svg">
        </a>
        <div class="logotext">RedRad1sh</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--            <label class="ml-5"><input type="checkbox"><span>COMIC SANS</span><img id="sans" src="images/s1200.png"></label>
        <label class="ml-5"><input type="checkbox"><span>PAPYRUS REGULAR</span><img id="sans" src="images/93321-area-artwork-animation-sprite-undertale-free-download-png-hq.png"></label>-->
        <div class="collapse navbar-collapse mr-5" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#information">Обо мне</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Проекты
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Десктопные приложения</a>
                        <a class="dropdown-item" href="#">Алгоритмы</a>
                        <a class="dropdown-item" href="#">Веб-приложения</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Все проекты</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Контакты</a>
                </li>
            </ul>
        </div>
    </nav>
</header>