<div class="parallax-header container-fluid" data-stellar-background-ratio="0.7">
    <div class="back-overlay"></div>
    <div class="hello-text">
        <p>Добро пожаловать на сайт визитку</p>
        <p>разработчика ПО!</p>
    </div>
</div>