<section class="bg-light">
    <div id="information" class="container-fluid">
        <div class="row">
            <div class="col border" align="center">
                <h2 class="my-article">Мои навыки</h2>
                <hr>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <img src="images/hashtag.svg" alt="">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <img src="images/java.svg" alt="">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 55%"></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <img src="images/html.svg" alt="">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <img src="images/css.svg" alt="">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 30%"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-7 border text-center">
                <div class="single-post my-article">
                    <h1 class="post-category" align="center" style="color:coral">Who Am I</h1>
                    <hr>
                    <div class="article-text-style">
                        <p>Добро пожаловать на мой личный сайт-визитку!</p>
                        <p>Меня зовут Никита и я разработчик!</p>
                        <p>Я являюсь студентом Воронежского Опорного Университета и уже третий курс обучаюсь на направлении Информационные системы и технологии.</p>
                        <p>
                            Занимаюсь разработкой приложений преимущественно на языке C#. Пробую также другие языки программирования и всё ещё ищу подходящее мне направление разработки.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col border" align="center">
                <h2 class="my-article">Мои хобби</h2>
                <hr>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <img src="images/guitar.svg" alt="">
                        <hr>
                        <p>Музыка</p>
                    </li>
                    <li class="list-group-item">
                        <img src="images/game-controller.svg" alt="">
                        <hr>
                        <p>Гейминг</p>
                    </li>
                    <li class="list-group-item">
                        <img src="images/bike.svg" alt="">
                        <hr>
                        <p>Велопрогулки</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="bg-light">
    <hr>
    <div class="container mr-auto">
        <h1 align="center">Мои проекты</h1>
    </div>
    <hr>
    <div class="grid-posts mt-1">
        <div class="container">
            <div class="row row-cols-2 row-cols-md-3">
                <div class="col mb-4">
                    <div class="card-body">
                        <img src="images/Vk_Attachments_Screen_1.PNG" alt="...">
                        <h5 class="card-title">Polyphone</h5>
                        <p class="card-text">Фонетический алгоритм для кодирования слов. Используется для поиска ошибок в запросах.</p>
                        <button type="button" class="btn btn-primary">Github</button>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">C#</small>
                    </div>
                </div>
                <div class="col mb-4">

                    <div class="card-body">
                        <img src="images/Vk_Attachments_Screen_1.PNG" alt="...">
                        <h5 class="card-title">Vk-Attachments</h5>
                        <p class="card-text">Приложение позволяющее скачивать вложения из бесед социальной сети Вконтакте.</p>
                        <button type="button" class="btn btn-primary">Github</button>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">C#, WPF</small>
                    </div>
                </div>
                <div class="col mb-4">

                    <div class="card-body">
                        <img src="images/Interface.PNG" alt="...">
                        <h5 class="card-title">Perlin Noise</h5>
                        <p class="card-text">Визуализации математической функции: шумы Перлина, использующейся в процедурной генерации</p>
                        <button type="button" class="btn btn-primary">Github</button>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">C#, WPF</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>